css/fonts
css/themes
img/icon*
img/jquery*
img/placeholders
img/template
js/ckeditor
js/helpers
js/pages
js/vendor
libs/ProUI
css/bootstrap.min.css

css/main.css

css/plugins.css

css/themes.css

img/favicon.ico

js/app.js

js/plugins.js
